* {
  background-color: rgb(223, 206, 209);
  color: rgb(54, 54, 54);
}


/* Fonts */
.paragraphFonts {
  font-family: 'Lora', serif;
}

.titleFonts {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bold;
}

/* Nav bar */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 10px 0;
}

nav h1 {
  font-size: 36px;
  margin: 10px;
}

nav ul {
  color: #b3beb3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin-right: 10px;

}

nav ul li a{
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover{
  text-decoration: underline;
  color: rgb(186, 144, 88);
}


/* Hero */
.hero {
  display: flex;
  margin: 60px auto;
  align-items: center;
}

.polaroid {
  width: 45%;
  display: flex;
}

.polaroid img {
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 12px solid white;
  border-bottom: 100px solid white;
  margin: auto;
  box-shadow: 0 0 8px rgb(57, 57, 57);
  transform: rotate(-4deg);
}

.heroText {
  width: 50%;
  align-items: left;
}

.heroText h1 {
  font-size: 4vw;
  margin-bottom: 24px;

}

.heroText p {
  font-size: 1.25vw;
  margin: 4px 4px 14px 4px;
}

.aboutButton {
  background-color: rgb(54, 54, 54);
  margin: 4px;
  color: rgb(223, 206, 209);
  text-decoration: none;
  padding: 10px;
  border-radius: 14px;
}

.aboutButton:hover {
  background-color: rgb(186, 144, 88);
 
}


/* Footer */
footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

footer ul li{
  list-style: none;
  text-decoration: none;
 
}

footer ul li a img {
  width: 50px;
  height: auto;
  color: black;

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .hero {
    display: block;
    justify-content: space-around ;
  }

  footer {
    display: block;
    width: 100%;
    height: auto;
  }
  
}